Read data from file

In [3]:
import pandas as pd
file = r'Largest US Venture Funding Deals Of 2023.csv'
df = pd.read_csv(file)
df.head()

,Company,Amount,Lead investors,Valuation,Industry,Date reported
0,OpenAI,"$10,000,000,000",Microsoft,NaN,Artificial intelligence,1/23/23
1,Stripe,"$6,500,000,000",NaN,"$50,000,000,000",Fintech,3/15/23
2,Inflection AI,"$1,300,000,000","Microsoft, Reid Hoffman, Bill Gates, Eric Schm...","$4,000,000,000",Artificial intelligence,6/29/23
3,Anthropic,"$1,250,000,000",Amazon,"$4,000,000,000",Artificial intelligence,9/25/23
4,Generate Capital,"$1,030,900,000",NaN,NaN,Energy,1/6/23